* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #202020;
    border-bottom: 5px solid #ff3e68;
    text-align: center;
    height: 25em
}

#selfImage {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#selfImage img {
    background-color: darkgray;
    border-radius: 50%;
    height: 90%;
}

#aboutMe {
    color: white;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    float: right;
    text-align: center;
    margin-right: 5em;
}

#aboutMe h1 {
    color: #ff3e68
}

main {
    padding: 3em 0 3em 0;
    background-color: #222222;
}

main .sectionTitle {
    color: #ff3e68;
    text-align: center;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    padding-bottom: 1em;
    border-bottom: 5px solid #ff3e68;
}

main .projects ul {
    list-style: none;
    margin: 5%;
}

main .projects ul li {
    border-radius: 20px;
    background-color: #3a3a3a;
    height: 35em;
}

.BikingBuds {
    margin-top: 2em;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BikingBuds img {
    width: 40%;
    margin-left: 5%;
    background-color: white;
}

.BikingBuds .rightSide {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 5%;
}

.BikingBuds .rightSide h1 {
    color: #8AEAFF;
}
.BikingBuds h1 {
    font-family: 'Baumans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
}

.BikingBuds h1 span {
    color: #7Bff91;
}