.experience-view {
  margin: 2rem auto;
  color: black;
  width: 100%;
  background-color: rgb(249 250 251);
  text-align: left;
  padding-top: 2rem;
}

.experience-view h1 {
    font-family: 'Proxima Nova', 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.experience-collection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
}

.experience-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.exp-header {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.exp-header span {
  font-weight: 600;
  color: #555;
}

.exp-duration {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.exp-description {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #333;
  padding-left: 1rem; /* indent bullet points */
  list-style-type: disc; /* show bullet points */
}

.exp-description li {
  margin-bottom: 0.3rem;
}
