.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  font-family: 'Proxima Nova', 'Poppins', sans-serif;
  bottom: 0px;
  width: 100%;
}

.footer p {
  margin-bottom: 1rem;
}
