.get-in-touch-view {
  margin: 2rem auto;
  color: black;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 0rem;
}

.get-in-touch-view h1 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 1rem;
}

.contact-btn {
  font-size: 2rem;
  color: #222;
  transition: transform 0.2s ease, color 0.2s ease;
}

.linkedin:hover {
  transform: scale(1.2);
  color: #0073b1; /* blue for LinkedIn, Email/GitHub can inherit or you can style separately */
}

.email:hover {
  transform: scale(1.2);
  color: #560f0f;
}

.github:hover {
  transform: scale(1.2);
  color: rgb(50, 0, 137);
}
